input,
textarea,
select,
button {
  width: 150px;
  padding: 10px;
  margin: 20px;
  box-sizing: border-box;
  background-color: #282c34;
  cursor: pointer;
  color: white;
}
input,
textarea {
  border: none;
  border-bottom: 1px solid lightgrey;
  padding: 20px;
  margin: 0;
  width: 100%;
  background: none;
  color: black;
}
